.Your_libraries_component {
    height: 15rem;
    overflow-y: scroll;
  }
  
  .Your_libraries_component::-webkit-scrollbar {
    width: 8px; /* Set the width of the scrollbar */
    background-color: transparent; /* Make the scrollbar track transparent */
  }
  
  .Your_libraries_component::-webkit-scrollbar-thumb {
    background-color: grey; /* Color of the thumb */
    border-radius: 4px; /* Rounded thumb */
  }